In [1]:
import pandas as pd
import numpy as np

In [3]:
!dir

 驱动器 C 中的卷没有标签。
 卷的序列号是 09C1-B27D

 C:\Users\Transwarp\iCloudDrive\iCloud~com~coderforart~iOS~MWeb\编程总结\项目\小项目\代码\电影推荐系统\als 的目录

2021/01/12  22:58    <DIR>          .
2021/01/12  22:58    <DIR>          ..
2021/01/12  22:53    <DIR>          .ipynb_checkpoints
2021/01/12  22:58    <DIR>          ml-100k
2021/01/12  22:57         4,924,029 ml-100k.zip
2021/01/12  22:55             1,164 movie_recommendation.ipynb
2016/02/27  13:02               128 test.data
               3 个文件      4,925,321 字节
               4 个目录 15,016,280,064 可用字节

In [4]:
df = pd.read_table('./ml-100k/ml-100k/u.data',sep='\t',names=user id | item id 'rating','timestamp')

In [5]:
df.head(10)

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806
5  115\t265\t2\t881171488
6  253\t465\t5\t891628467
7  305\t451\t3\t886324817
8     6\t86\t3\t883603013
9   62\t257\t2\t879372434